.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 4rem;
}

.search-bar input{
    border: none;
    font-size : 20px;
    color: gray;
    padding: .3rem 2rem;
    outline: none;
}

.menu-items{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu-items li{
    list-style: none;
}
